Django
python-dotenv
psycopg2
django-yugabytedb
pypdf
Pillow
faiss-cpu
langchain
langchain-community
sentence-transformers
docx2python
gunicorn
django-docs
sphinx
django-cron
torch
transformers
django-redis
redis