{% extends "users/base.html" %}

{% block title %} Profile {% endblock %}
{% load static %}

{% block body  %}
<script src="{% static 'app.js' %}"></script>

<h1>{{user.username}}</h1>
<h3>{{user.email}}</h3>

<div id="deleteModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('deleteModal')">&times;</span>
        <p>Ви впевнені, що хочете видалити свій аккаунт?</p>
        <button onclick="deleteAccount()">Так, видалити</button>
    </div>
</div>

<!-- Модальне вікно редагування профілю -->
<div id="editProfileModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('editProfileModal')">&times;</span>
        <p>Форма для зміни профілю...</p>
        <!-- Тут буде ваша форма для зміни профілю -->
    </div>
</div>

<!-- Кнопки, які викликають модальні вікна -->
<button id="deleteAccountBtn">Видалити аккаунт</button>
<button id="editProfileBtn">Змінити профіль</button>


{% endblock %}