{% extends "users/base.html" %}

{% block title %} Error {% endblock %}

{% load static %}

{% block body %}
<div class="gradient-container">
    <h2 style="text-align: center;">Authorization is required</h2>
    <p style="text-align: center;">You need to login or register to access this page.</p>
    
    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'users:login' %}" class="btn btn-primary">Sign in</a>
        <a href="{% url 'users:sign' %}" class="btn btn-secondary">Register</a>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <img src="{% static 'aut_gif.gif' %}" alt="Повідомлення про помилку" style="display: block; margin: 0 auto;">
    </div>
</div>
{% endblock %}