{% extends "users/base.html" %}
{% block title %} Profile {% endblock %}
{% load static %}

{% block body %}
<script src="{% static 'app.js' %}"></script>
<style>
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        max-width: 400px; /* Змінення максимальної ширини сповіщення */
    }

    .close-btn {
        padding: 8px 12px;
        margin-left: 8px; /* Розміщення кнопок - відстань між ними */
    }
</style>

<h1>{{ user.username }}</h1>
<h3>{{ user.email }}</h3>

<div id="confirmDeleteModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('confirmDeleteModal')">&times;</span>
        <p>Ви впевнені, що хочете видалити свій аккаунт?</p>
        <button onclick="deleteConfirmation()">Так, видалити</button>
        <button class="close-btn btn btn-secondary" onclick="closeModal('confirmDeleteModal')">Закрити</button>
    </div>
</div>

<div id="deleteModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('deleteModal')">&times;</span>
        <p>Ви впевнені, що хочете видалити свій аккаунт?</p>
        <button onclick="deleteAccount()" class="btn btn-danger">Так, видалити</button>
        <button class="close-btn btn btn-secondary" onclick="closeModal('deleteModal')">Закрити</button>
    </div>
</div>

<div id="editProfileModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('editProfileModal')">&times;</span>
        <p>Форма для зміни профілю...</p>
        <form id="profileForm">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div>
                <button type="button" onclick="saveChanges()" class="btn btn-primary">Зберегти зміни</button>
                <button class="close-btn btn btn-secondary" onclick="closeModal('editProfileModal')">Закрити</button>
            </div>
        </form>
    </div>
</div>

<button id="deleteAccountBtn" onclick="confirmDelete()" class="btn btn-danger">Видалити аккаунт</button>
<button id="editProfileBtn" onclick="editProfile()" class="btn btn-primary">Змінити профіль</button>


{% endblock %}