{% extends "users/base.html" %}

{% block title %} Chat {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div style="position: absolute; top: 55px; left: 0px; width: 15%; height: 100%;">
                <div style="background-color: #123CA9; height: calc(100%);">
                    <h1 style="color: white; text-align: center;">All Chats</h1>
                    <hr>
                    <a href="{% url 'users:profile' %}" class="btn btn-primary">Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-9" style="position: absolute; bottom: 0; left: 15%; top: 55px; width: 85%; height: 100%; background: linear-gradient(to bottom, rgba(18, 26, 213, 0.74) 0%, rgba(174, 18, 213, 0.81) 100%); padding-top: 20px; color: white;">
            <h2 style="text-align: center;">Current Chat: In develop</h2>
            <ul>
                <li>In develop</li>
                <!-- Додайте повідомлення тут -->
            </ul>
            <form style="position: absolute; bottom: 20px; width: calc(100% - 40px);">
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Напишіть ваше повідомлення" style="width: 100%;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Надіслати</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}